<!-- <!DOCTYPE html>
<html>

<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sign Up</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>

  <h1 style="text-align: center;">Create an Account</h1>
  <section class="hero is-info is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <form method="POST">
              <div class="field">
                <label class="label">Username</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" name="username" placeholder="Username">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">Password</label>
                <p class="control has-icons-left">
                  <input class="input" type="password" name="password" placeholder="Password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <label class="label">Confirm Password</label>
                <p class="control has-icons-left">
                  <input class="input" type="password" name="confirm_password" placeholder="Confirm Password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <button type="submit" class="button is-success">
                    Sign Up
                  </button>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html> -->

<!DOCTYPE html>
<html>

<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sign Up</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>

  <h1 style="text-align: center;">Create an Account</h1>
  <section class="hero is-info is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <form method="POST">
              <div class="field">
                <label class="label">First Name</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" name="cust_first_name" placeholder="First Name">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">Last Name</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" name="cust_last_name" placeholder="Last Name">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">Date of Birth</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="date" name="cust_dob" placeholder="Date of Birth">
                  <span class="icon is-small is-left">
                    <i class="fas fa-calendar"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">Street Address</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" name="cust_street" placeholder="Street Address">
                  <span class="icon is-small is-left">
                    <i class="fas fa-home"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">City</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" name="cust_city" placeholder="City">
                  <span class="icon is-small is-left">
                    <i class="fas fa-city"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">State</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" name="cust_state" placeholder="State">
                  <span class="icon is-small is-left">
                    <i class="fas fa-map-marker-alt"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">Postal Code</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" name="cust_pin" placeholder="Postal Code">
                  <span class="icon is-small is-left">
                    <i class="fas fa-map-pin"></i>
                  </span>
                </div>
              </div>
                    <!-- <div class="field">
                    <label class="label">Age</label>
                    <div class="control has-icons-left has-icons-right">
                    <input class="input" type="number" name="cust_age" placeholder="Age">
                    <span class="icon is-small is-left">
                    <i class="fas fa-birthday-cake"></i>
                    </span>
                    </div>
                    </div> -->
                    <div class="field">
                    <label class="label">Title</label>
                    <div class="control has-icons-left has-icons-right">
                    <input class="input" type="text" name="cust_title" placeholder="Title">
                    <span class="icon is-small is-left">
                    <i class="fas fa-id-badge"></i>
                    </span>
                    </div>
                    </div>
                    <!-- <div class="field">
                    <label class="label">Customer Type</label>
                    <div class="control has-icons-left has-icons-right">
                    <div class="select">
                    <select name="cust_type">
                    <option value="">Select customer type</option>
                    <option value="regular">Regular</option>
                    <option value="premium">Premium</option>
                    </select>
                    </div>
                    <span class="icon is-small is-left">
                    <i class="fas fa-users"></i>
                    </span>
                    </div>
                    </div> -->
                    <div class="field">
                    <label class="label">Username</label>
                    <div class="control has-icons-left has-icons-right">
                    <input class="input" type="text" name="username" placeholder="Username">
                    <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                    </span>
                    </div>
                    </div>
                    <div class="field">
                    <label class="label">Password</label>
                    <div class="control has-icons-left has-icons-right">
                    <input class="input" type="password" name="password" placeholder="Password">
                    <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                    </span>
                    </div>
                    </div>


              <div class="field">
                <p class="control">
                  <button type="submit" class="button is-success">
                    Sign Up
                  </button>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>





